// Cattpuccin Mocha
$rosewater: #f5e0dc;
$flamingo: #f2cdcd;
$pink: #f5c2e7;
$mauve: #cba6f7;
$red: #f38ba8;
$maroon: #eba0ac;
$peach: #fab387;
$yellow: #f9e2af;
$green: #a6e3a1;
$teal: #94e2d5;
$sky: #89dceb;
$sapphire: #74c7ec;
$blue: #89b4fa;
$lavender: #b4befe;
$text: #cdd6f4;
$subtext1: #bac2de;
$subtext0: #a6adc8;
$overlay2: #9399b2;
$overlay1: #7f849c;
$overlay0: #6c7086;
$surface2: #585b70;
$surface1: #45475a;
$surface0: #313244;
$base: #1e1e2e;
$mantle: #181825;
$crust: #11111b;

* {
  all: unset;
  font-family:
    JetBrains Mono,
    Symbols Nerd Font Mono,
    Noto Sans CJK TC;
}

.small-bar trough {
  all: unset;
  background-color: $surface0;
  border-radius: 1px;
  min-height: 20px;
  min-width: 3px;
}

.small-bar trough progress {
  border-radius: 5px;
  min-width: 3px;
}

.icon {
  margin: 0 2px 0 2px;
}

.big-icon {
  padding: 0;
  font-size: 14px;
}

.overlay-progress trough {
  all: unset;
  background-clip: padding-box;
  min-width: 40px;
  min-height: 60px;
}

.overlay-progress trough progress {
  background: $lavender;
  background-clip: padding-box;
  min-width: 40px;
}

.main-bar {
  background: transparent;
}

.workspace {
  border-radius: 5px;
  background: $base;
  padding: 10px 0 10px 0;
}

.ws-item {
  font-size: 14px;
}

.ws-normal {
  color: $surface0;
}

.ws-focused {
  color: $lavender;
}

.ws-occupied {
  color: $overlay0;
}

.time-container {
  background: $base;
  border-radius: 5px;
}

.time {
  color: $crust;
  font-weight: bold;
  font-size: 16px;
  padding: 10px 0 10px 0;
}

.time-progress trough {
  border-radius: 5px;
  background: rgba($color: $lavender, $alpha: 0.6);
}

.time-progress trough progress {
  border-radius: 5px;
  background: $lavender;
}

.status,
.control {
  font-size: 14px;
  background-color: $base;
  border-radius: 5px;
  padding: 8px 0 8px 0;
  color: $text;
}

.cpu {
  color: $red;
}

.cpu trough progress {
  background-color: $red;
}

.mem {
  color: $mauve;
}

.mem trough progress {
  background-color: $mauve;
}

.bat {
  color: $blue;
}

.bat trough progress {
  background-color: $blue;
}

.volume {
  color: $teal;
}

.volume trough progress {
  background-color: $teal;
}

.volume-muted trough progress {
  background-color: $overlay0;
}

.brightness {
  color: $yellow;
}

.brightness trough progress {
  background-color: $yellow;
}

.mic {
  color: $sapphire;
}

.mic trough progress {
  background-color: $sapphire;
}

.mic-muted trough progress {
  background-color: $overlay0;
}

.mpd {
  background-color: $base;
  border-radius: 5px;
}

.mpd-progress trough {
  background: rgba($color: $blue, $alpha: 0.6);
  border-radius: 0 0 5px 5px;
}

.mpd-progress trough progress {
  background: $blue;
  border-radius: 0 0 5px 5px;
}

.mpd-pane {
  margin: 5px 0 5px 0;
}

.mpd-pane-item {
  color: $base;
}

.mpd-cover {
  min-width: 40px;
  border-radius: 5px 5px 0 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
